#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "zsh/dotzsh"]
	path = zsh/dotzsh
	url = https://github.com/dotphiles/dotzsh.git
[submodule "antigen"]
	path = antigen
    url = https://github.com/zsh-users/antigen.git
[submodule "nvm"]
	path = nvm
    url = https://github.com/nvm-sh/nvm.git

